!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: "utf-8"}
    %meta{'content' => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Pixels
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "sonntagbox", name: "description"}
    %meta{content: "Thomas Sonntag", name: "author"}
    / Le styles
    = stylesheet_link_tag "bootstrap"
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    = javascript_include_tag  "jquery-1.9.1"
    = javascript_include_tag  "bootstrap"
    / Fav and touch icons
    %link{href: "bootstrap/ico/favicon.png", rel: "shortcut icon"}/
    
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", "type" => "button"}
          %a.brand{href: "/"} sonntagsbox
          .nav-collapse.collapse
            %ul.nav
              - { 'home' => 'index', 'pixel art' => 'pixels', 'contact' => 'contact' }.each do |title, name|
                %li{class: page_classes == name ? 'active' : ''} 
                  = link_to title, "/#{name}.html"
    .container
      = yield 
    %hr/
    %footer
      %p © Thomas Sonntag 2013
