= javascript_include_tag 'Colour'
= javascript_include_tag 'pixel'
= javascript_include_tag 'jquery-ui-1.9.2.custom.min'
= javascript_include_tag 'underscore'
= stylesheet_link_tag 'jquery-ui-1.9.2.custom'

.hero-unit
  %h2 Random Pixel Art
  %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  %p
  .row
    %button#refresh.btn{type: "button"} Refresh
  .row
    .span2
      %form.form-inline
        %label.control-label Color Space
        %br
        %label.radio
          = radio_button_tag :colour_type, value: 'RGBColour', checked: true
          RGB
        %br
        %label.radio
          = radio_button_tag :colour_type, value: 'HSLColour'
          HSL
        %br
        %label.radio
          = radio_button_tag :colour_type, value: 'HSVColour'
          HSV
    .span3
      %form.form-inline
        %label.control-label#colour_label_0
        #slider_colour_0
        %label.control-label#colour_label_1
        #slider_colour_1
        %label.control-label#colour_label_2
        #slider_colour_2
        %label.control-label Colour distance
        #slider_colour_distance
    .span3.offset1
      %form.form-inline
        %label.control-label Pixel width
        #slider_dx
        %label.control-label Pixel height
        #slider_dy
        %label.control-label Width
        #slider_nx
        %label.control-label Height
        #slider_ny
  .row
    .span
      %canvas#canvas
            
