= javascript_include_tag 'Colour'
= javascript_include_tag 'pixel'
= javascript_include_tag 'bootstrap-slider'
= stylesheet_link_tag 'slider'

.hero-unit
  %h1 Random Pixel Art
  %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  %p
  .row
    %p
    %button#refresh.btn{type: "button"} Refresh
    %form.form-horizontal
      .control-group
        %label.control-label Color Space
        .controls
          %label.radio
            = radio_button_tag :colour_type, value: 'RGBColour', checked: true
            RGB
          %label.radio
            = radio_button_tag :colour_type, value: 'HSLColour'
            HSL
          %label.radio
            = radio_button_tag :colour_type, value: 'HSVColour'
            HSV
      .control-group
        %label.control-label 1
        .controls= slider :slider_color_1, 10, 100, [20,40]#, class: 'span4'
      .control-group
        %label.control-label 2
        .controls= slider :slider_color_2, 0, 255, 255, class: 'span2'
      .control-group
        %label.control-label 3 
        .controls= slider :slider_color_3, 0, 255, 255, class: 'span2'
      .control-group
        %label.control-label Pixel width
        .controls= slider :slider_dx, 1, 200, 40, class: 'span2'
      .control-group
        %label.control-label Pixel height
        .controls= slider :slider_dy, 1, 200, 40, class: 'span2'
  .row
    .span1
    .span
      = slider :slider_nx, 1, 100, 10, class: 'span4'
  .row
    .span
      = slider :slider_ny, 1, 100, 10, class: 'span4', orientation: 'vertical'
    .span1
      %canvas#canvas
            
