= javascript_include_tag 'Colour'
= javascript_include_tag 'pixel'
= javascript_include_tag 'bootstrap-slider'
= stylesheet_link_tag 'slider'

.hero-unit
  %h1 Random Pixel Art
  %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  %p
  .row
    .span
      %button#refresh.btn{type: "button"} Refresh
  .row
    .span4
      %form.form-horizontal
        .control-group
          %label.control-label Color Space
          .controls
            %label.radio
              = radio_button_tag :colour_type, value: 'rgb', checked: true
              RGB
            %label.radio
              = radio_button_tag :colour_type, value: 'hsl'
              HSL
            %label.radio
              = radio_button_tag :colour_type, value: 'hsv'
              HSV
    .span
      .row
        .span
          #slider_colour_0
        .span
          %label
            0
      .row
        .span
          #slider_colour_1
        .span
          %label
            1
      .row
        .span
          #slider_colour_2
        .span
          %label
            2
  .row              
    #slider_dx
    Pixel width
  .row              
    #slider_dy
    Pixel height
  %br
  %br
  %p
  .row
    .span1
    .span
      #slider_nx
  .row
    .span
      #slider_ny
    .span1
      %canvas#canvas
            
